@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<FaturaYönetimSistemleri.Models.Entities.ElectricityBill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> <a href="/ElectricityBill/Index">Elektrik Faturaları</a>      </li>
</ol>




<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"> Kullanıcı </th>
            <th scope="col"> Seri No</th>
            <th scope="col"> Sıra No</th>
            <th scope="col"> Şirket</th>
            <th scope="col"> Fiyat</th>
            <th scope="col"> Tarih</th>
            <th scope="col"> Acıklama</th>
            <th scope="col"> Durumu </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ElectricityBillID</th>
                <th scope="row">@item.User.FirstName @item.User.LastName</th>
                <th scope="row">@item.ElectricityBillSerialNumber</th>
                <th scope="row">@item.ElectricityBillSequenceNo</th>
                <th scope="row">@item.ElectricityBillCompanyName</th>
                <th scope="row">@item.ElectricityBillPrice TL</th>
                <th scope="row">@item.ElectricityBillDate</th>
                <th scope="row">@item.ElectricityBillDescription</th>
                <th>
                    @if (item.ElectricityBillStatus)
                    {
                        <h5 class="alert-success text-center"> Ödendi </h5>
                    }
                    else
                    {
                <h5 class="alert-secondary text-center"> Fatura Ödenmedi  </h5>

                    }
                </th>
              
              
            </tr>
        }


    </tbody>
</table>



