@model FaturaYönetimSistemleri.Models.Entities.Dues

@{
    ViewBag.Title = "DuesAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> <a href="/Dues/Index">Aidatlar</a> / Yeni Aidat Ekle      </li>
</ol>

<br />

@using (Html.BeginForm("DuesAdd", "Dues", FormMethod.Post))
{
    <br />
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">
                    <div class="text-left">
                        <a href="/Dues/Index" class="btn btn-primary p-3 m-4">  Aidat Listesine Dön </a>
                    </div>
                </th>
                <th>
                <th scope="col">
                    @Html.Label("Ödendi")
                    @Html.CheckBoxFor(x => x.Status, new { @class = "form-control" })
                </th></th>

            </tr>
            <tr>
                <th scope="col">
                    @Html.Label("Aidat Ücreti")
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                </th>
                <th scope="col">
                    @Html.Label("Tarih ")
                    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                </th>





            </tr>
            <tr>
                <th scope="col">
                    @Html.Label("Acıklama")
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                </th>
                
                <th scope="col">
                    @Html.Label("Kullanıcılar")
                    @Html.DropDownListFor(x => x.UserID, (List<SelectListItem>)ViewBag.VUsers, new { @class = "form-control" })
                </th>
            </tr>
            <tr>
                
            </tr>
           
         
            <tr>  <th scope="col"> <button class="btn btn-success">Kaydet</button> </th> </tr>


        </thead>
    </table>



}

