@model FaturaYönetimSistemleri.Models.Entities.NaturalGasBill

@{
    ViewBag.Title = "NaturalGasBillAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> <a href="/NaturalGasBillAdd/Index">Dogal Gas Faturaları</a> / Yeni Dogal Gas Faturası Ekle      </li>
</ol>

<br />

@using (Html.BeginForm("NaturalGasBillAdd", "NaturalGasBill", FormMethod.Post))
{
    <br />
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col">
                    <div class="text-left">
                        <a href="/NaturalGasBill/Index" class="btn btn-primary p-3 m-4">  Dogal Gas Faturası Listesine Dön </a>
                    </div>
                </th>
                <th>
                <th scope="col">
                    @Html.Label("Ödendi")
                    @Html.CheckBoxFor(x => x.NaturalGasBillStatus, new { @class = "form-control" })
                </th></th>

            </tr>
            <tr>
                <th scope="col">
                    @Html.Label("Doğal Gas Fatura Ücreti ")
                    @Html.TextBoxFor(x => x.NaturalGasBillPrice, new { @class = "form-control" })
                </th>
                <th scope="col">
                    @Html.Label("Kullanıcılar")
                    @Html.DropDownListFor(x => x.UserID, (List<SelectListItem>)ViewBag.VUsers, new { @class = "form-control" })
                </th>






            </tr>
            <tr>
                <th scope="col">
                    @Html.Label("Acıklama")
                    @Html.TextBoxFor(x => x.NaturalGasBilllDescription, new { @class = "form-control" })
                </th>
                <th scope="col">
                    @Html.Label("Tarih ")
                    @Html.TextBoxFor(x => x.NaturalGasBillDate, new { @class = "form-control" })
                </th>

            </tr>

            <tr>
                <th scope="col">
                    @Html.Label("Seri No")
                    @Html.TextBoxFor(x => x.NaturalGasBillSerialNumber, new { @class = "form-control" })
                </th>
                <th scope="col">
                    @Html.Label("Sıra No ")
                    @Html.TextBoxFor(x => x.NaturalGasBillSequenceNo, new { @class = "form-control" })
                </th>
            </tr>
            <tr>
                <th scope="col">
                    @Html.Label("Şirket Adı ")
                    @Html.TextBoxFor(x => x.NaturalGasBillCompanyName, new { @class = "form-control" })
                </th>
                <th scope="col"> <button onclick="Added()" class="btn btn-success"> Ekle </button> </th>
            </tr>


            <tr>   </tr>


        </thead>
    </table>



}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function Added() {

        Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Başarılı , Doğal Gaz Faturası Eklendi. ',
            showConfirmButton: false,
            timer: 2500
        })


    }

</script>