@using FaturaYönetimSistemleri.Models.Entities
@model List<WaterBill>


@{
    ViewBag.Title = "UserWaterBill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> <a href="/User/Index">Kullanıcılar</a> / @ViewBag.VuserName  Dogal Gas Faturası     </li>
</ol>


<div class="text-left">
    <a href="/User/Index" class="btn btn-primary p-3 m-4">  Kullanıcı Listesine Dön </a>
</div>

<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"> Kullanıcı </th>
            <th scope="col"> Seri No</th>
            <th scope="col"> Sıra No</th>
            <th scope="col"> Şirket</th>
            <th scope="col"> Fiyat</th>
            <th scope="col"> Tarih</th>
            <th scope="col"> Acıklama</th>
            <th scope="col"> Durumu </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.WaterBillID</th>
                <td>@item.User.FirstName @item.User.LastName</td>
                <td>@item.WaterBillSerialNumber</td>
                <td>@item.WaterBillSequenceNo</td>
                <td>@item.WaterBillCompanyName</td>
                <td>@item.WaterBillPrice</td>
                <td>@item.WaterBillDate</td>
                <td>@item.WaterBillDescription</td>
                <th>
                    @if (item.WaterBillStatus)
                    {
                        <h5 class="alert-success text-center"> Ödendi </h5>
                    }
                    else
                    {
                        <h5 class="alert-secondary text-center"> Fatura Ödenmedi  </h5>

                    }
                </th>



            </tr>
        }


    </tbody>
</table>



