@using FaturaYönetimSistemleri.Models.Entities
@model List<User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>

    body {
        margin-top: 20px;
        background: #eee;
    }

    .single_advisor_profile {
        position: relative;
        margin-bottom: 50px;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        z-index: 1;
        border-radius: 15px;
        -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
        box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    }

        .single_advisor_profile .advisor_thumb {
            position: relative;
            z-index: 1;
            border-radius: 15px 15px 0 0;
            margin: 0 auto;
            padding: 30px 30px 0 30px;
            background-color: #3f43fd;
            overflow: hidden;
        }

            .single_advisor_profile .advisor_thumb::after {
                -webkit-transition-duration: 500ms;
                transition-duration: 500ms;
                position: absolute;
                width: 150%;
                height: 80px;
                bottom: -45px;
                left: -25%;
                content: "";
                background-color: #ffffff;
                -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
            }

    }

    .single_advisor_profile .advisor_thumb .social-info {
        position: absolute;
        z-index: 1;
        width: 100%;
        bottom: 0;
        right: 30px;
        text-align: right;
    }

        .single_advisor_profile .advisor_thumb .social-info a {
            font-size: 14px;
            color: #020710;
            padding: 0 5px;
        }

            .single_advisor_profile .advisor_thumb .social-info a:hover,
            .single_advisor_profile .advisor_thumb .social-info a:focus {
                color: #3f43fd;
            }

            .single_advisor_profile .advisor_thumb .social-info a:last-child {
                padding-right: 0;
            }

    .single_advisor_profile .single_advisor_details_info {
        position: relative;
        z-index: 1;
        padding: 30px;
        text-align: right;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        border-radius: 0 0 15px 15px;
        background-color: #ffffff;
    }

        .single_advisor_profile .single_advisor_details_info::after {
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
            position: absolute;
            z-index: 1;
            width: 50px;
            height: 3px;
            background-color: #3f43fd;
            content: "";
            top: 12px;
            right: 30px;
        }

        .single_advisor_profile .single_advisor_details_info h6 {
            margin-bottom: 0.25rem;
            -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
        }

    }

    .single_advisor_profile .single_advisor_details_info p {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        margin-bottom: 0;
        font-size: 14px;
    }

    }

    .single_advisor_profile:hover .advisor_thumb::after,
    .single_advisor_profile:focus .advisor_thumb::after {
        background-color: #070a57;
    }

    .single_advisor_profile:hover .advisor_thumb .social-info a,
    .single_advisor_profile:focus .advisor_thumb .social-info a {
        color: #ffffff;
    }

        .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
        .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
        .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
        .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
            color: #ffffff;
        }

    .single_advisor_profile:hover .single_advisor_details_info,
    .single_advisor_profile:focus .single_advisor_details_info {
        background-color: #070a57;
    }

        .single_advisor_profile:hover .single_advisor_details_info::after,
        .single_advisor_profile:focus .single_advisor_details_info::after {
            background-color: #ffffff;
        }

        .single_advisor_profile:hover .single_advisor_details_info h6,
        .single_advisor_profile:focus .single_advisor_details_info h6 {
            color: #ffffff;
        }

        .single_advisor_profile:hover .single_advisor_details_info p,
        .single_advisor_profile:focus .single_advisor_details_info p {
            color: #ffffff;
        }
</style>



<!-- Start home -->
<section class="bg-half page-next-level">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5"> Profil  </h4>

                    </div>
                    <ul class="page-next d-inline-block mb-0">
                        <li><a href="/UserPanel/Index" class="text-uppercase font-weight-bold">Ana Sayfa</a></li>

                        <li>
                            <span class="text-uppercase text-white font-weight-bold">Profil  </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->
<!-- EMPLOYERS DETAILS START -->
<section class="section">
    <div class="container">
        @foreach (var item in Model)
        {


        <div class="row">

            <div class="col-lg-12">

                <div class="text-sm-center">
                    <div class="row">
                        <!-- Single Advisor-->
                        <!-- Single Advisor-->
                        <div class="col-12 col-sm-6 col-lg-12">
                            <div class="" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <!-- Team Thumb-->
                                <div class="advisor_thumb">
                                    <img src="@item.ImageURL" height="250" width="250" alt="">
                                    <!-- Social Info-->
                                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                                </div>
                                <!-- Team Details-->
                                <div class="single_advisor_details_info">


                                    <h4 class="mt-3"><a href="#" class="text-dark">@item.FirstName @item.LastName</a>  </h4>




                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item mr-3">
                                            <p class="text-dark"><i class="mdi mdi-email mr-2"></i>@item.Email</p>
                                        </li>
                                        <li class="list-inline-item mr-3">
                                            <p class="text-success mb-0"><i class="mdi mdi-bookmark-check mdi-18px mr-2"></i> <b> Doğrulandı </b> </p>
                                        </li>

                                    </ul>

                                    <ul class="list-inline mb-0">

                                        @if (item.ApartmentOwner)
                                        {
                                            <li class="list-inline-item">
                                                <p class="text-dark mb-0"><i class="mdi mdi-home mr-2"></i> <b> Ev Sahibi </b> </p>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="list-inline-item">
                                                <p class="text-dark mb-0"><i class="mdi mdi-home mr-2"></i> <b> Kiracı </b>  </p>
                                            </li>
                                        }


                                    </ul>

                                    <ul class="list-inline mb-2">




                                        <li class="list-inline-item">
                                            <p class="text-muted"><i class="mdi mdi-cellphone-iphone mr-2"></i> @item.Phone </p>
                                        </li>
                                    </ul>
                                    <ul class="list-inline mb-2">


                                        <li class="list-inline-item">
                                            <p class="text-muted"> Tc No :   @item.TCNo </p>
                                        </li>


                                    </ul>
                                    <ul class="list-inline mb-2">


                                        <li class="list-inline-item">
                                            <p class="text-muted"> Parola :   @item.Password </p>
                                        </li>


                                    </ul>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center" > Araç Plakalarım </h3>
                <div class="border-top border-bottom pt-4 pb-4">
                    <div class="row justify-content-sm-center">
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="text-sm-center m-14">
                                <h5 class="text-dark mb-2"> @item.CarsPlate </h5>
                               
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        }





    </div>
</section>
<!-- EMPLOYERS DETAILS END -->
